#main {
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
div {
    background-color: blue;
    margin: 5px;
    width: 300px;
}
.new {
    border: 5px solid rgb(255, 255, 122);
}